<%= render 'layouts/profile_header' %>
<div class="primary-bkgrnd">
  <div class="bio-wrapper">
    <p class="primary-font profile-font"><%= @profile.biography %></p>
  </div>
  <div>
    <div class="owl-carousel">
      <% @publications.each do |publication| %>
        <%= image_tag publication.image %>
        <%= publication.subtitle %>
      <% end %>
    </div>
  </div>
</div>