.admin-menu-desktop {
  display: none;
  background: #F8F8F8;
}

.profile-edit-view {
  height: 1081px;
}

#profile-admin-dark {
  height: 100%;
  width: 100%;
}

#profile-form-main {
  height: 100%;
  width: 100%;
}

.profile-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 1017px;
  background: #F8F8F8;
  padding: 0px 20px 79px 20px;
  border-left: 0.5px solid #C4CDD5
}

#profile-form-header {
  display: flex;
  justify-content: space-between;
  height: 93px;
  padding-top: 24px;
  border-bottom: 0.5px solid #C4CDD5;
  margin-bottom: 24px;
}

.profile-form-title {
  height: 15px;
  font-weight: bold;
  line-height: 19px;
  color: #434242;
}

.btn-section {
  height: 50.66px;
  display: flex;
  flex-direction: column;
}

#btn-wrapper {
  width:  45px;
  height: 24px;
  cursor: pointer;
  margin: 0 0 12px auto; 
}

#btn_label {
  font-weight: 300;
  font-size: 12px; 
  color: #434242;
}

#toggle_btn {
  background: rgba(196, 205, 213, 0.38);
  border-radius: 20px;
  padding: 2px;
  transition: all 300ms ease-in-out;
}

#toggle_btn > #inner_circle {
  width: 20px;
  height: 20px;
  background: #C4CDD5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all 300ms ease-in-out;
}

#toggle_btn.active {
  background: rgba(238, 67, 128, 0.38);
  padding-left: 23px;  
}

#toggle_btn.active > #inner_circle {
  background: #EE4380;
}

.profile-form-partone {
  justify-content: flex-start;
  height: 256px;
  background: #FFFFFF;
  margin-bottom: 20px;
}

.bio-field-field {
  width: 278px;
  height: 64px;
  border: 1px solid #C4CDD5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 6px;
}

.profile-form-parttwo {
  justify-content: flex-start;
  height: 229px;
  background: #FFFFFF;
  margin-bottom: 20px;
  padding-bottom: 16.98px;
}

.multipliers-wrapper {
  display: flex;
  width: 184.2px;
  margin-top: 6px;
}

.multiplier {
  width: 37.02px;
  height: 37.02px;
  border: 1px solid #EE4380;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 12.03px;
  font-size: 16px;
  text-align: center;
  color: #363636;
}

.dropify-customized {
  width: 310px;
}

.dropify-custom-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #DAE1E7;
}

.submit-btn-break {
  border-top: 0.5px solid #C4CDD5;
  margin-top: 24px;
  padding-top: 24px;
}

.profile-form-big {
  display: none;
}

@media screen and (min-width: 736px) {
 .profile-edit-view {
    height: 1168px;
  }

  .profile-form-container {
    height: 1104px;
    width: 736px;
    padding: 0 38px 45px 38px;
  }

  .profile-fname-occptn {
    display:flex;
  }

  #profile-form-header {
    height: 117px;
    padding-top: 40px;
    margin-bottom: 32px;
  }

  .profile-form-title {
    height: 17px;
    line-height: 21px;
  }

  .profile-form-partone {
    width: 660px;
    height: 250px;
    padding: 24px;
    margin-bottom: 24px;
  }

  .field-profile {
    width: 294px;
  }

  .bio-field-field {
    width: 612px;
    height: 80px;
    margin-top: 12px;
  }

  .profile-form-parttwo {
    width: 660px;
    height: 300px;
    padding: 24px;
    margin-bottom: 24px;
  }

  .multipliers-wrapper {
    margin-top: 12px;
  }

  .dropify-customized {
    width: 660px;
  }

  .submit-btn-break {
    margin-top: 32px;
    padding-top: 32px;
  }

  .profile-submit-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  
  .profile-edit-view {
    height: 880px;
    width: 100%;
  }

  .profile-form-desktop {
    display: flex;
    width: 100%;
    height: 868px;
  }

  .admin-menu-desktop {
    display: flex;
    flex-direction: column;
    width: 255px;
    padding-left: 48px;
    padding-top: 32px;
  }

  .admin-text-black {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    padding-left: 12px;
    color: #434242;
    font-family: Roboto;
  }

  .admin-text-red {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    padding-left: 12px;
    color: #EE4380;
    font-family: Roboto;
  }

  .admin-menu-link {
    display: flex;
    margin-bottom: 24px;
  }

  .profile-desktop-fix {
    display: flex;
    justify-content: center;
  }

  .profile-form-container {
    height: 100%;
    width: 84%;
    padding: 5px 70px 62px 70px;
  }

  #profile-form-header {
    height: 93px;
    padding-top: 5px;
  }

  .profile-form-title {
    height: 22px;
    line-height: 28px;
  }

  #btn-wrapper {
    width: 50px;
    height: 26.67px;
  } 

  #toggle_btn > #inner_circle {
    width: 22.22px;
    height: 22.22px;
  }

  .profile-form-small {
    display: none;
  }

  .profile-form-big {
    display: block;
    width: 100%;
  }

  .profile-form-wrapper {
    height: 474px;
    display: flex;
    justify-content: center;
  }

  .profile-form-parttwo {
    margin-left: 32px;
    height: 474px;
    width: 352px;
  }

  .field-profile {
    height: 40px;
  }

  .field-profile-desktop {
    width: 304px;
  }

  .profile-partone-fix {
    margin-bottom: 20px;
  }
}

