.images-list-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 177px 20px;
}

.images-list-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.5px solid #C4CDD5;
  padding: 24px 0;
  margin-bottom: 24px;
  height: 135px;
}

.new-publ-link {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 48px;
  padding: 17px 16px 17px 17px;
  border-radius: 5px;
  padding: 18px 48px 18px 47px;
}

.new-publ-link-text {
  width: 65px;
  height: 12px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  text-align: center;
}

.image-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 35px 0 51px;
  box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
}

.publ-image-link {
  height: 96px;
  width: 96px;
  border-radius: 4px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.publication-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: #F8F8F8;
  padding: 0px 20px 36px 20px
}

.publication-form-header {
  display: flex;
  height: 63px;
  padding-top: 24px;
  border-bottom: 0.5px solid #C4CDD5;
  margin-bottom: 24px;
}

.publication-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #434242;
}

.subtitle-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 134.77%;
  color: #434242;
  margin-top: 14px;
  margin-bottom: 20px;
}

.publ-form-subtitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 310px;
  height: 86px;
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 20px;
}

.edit-publ-btns {
  display: flex;
  flex-direction: column;
  padding: 24px 75px 0 75px;
  margin-top: 24px;
  border-top: 0.5px solid #C4CDD5;
}

@media screen and (min-width: 736px) {

.images-list-header {
  flex-direction: row;
  padding-top: 40px;
  margin-bottom: 32px;
}

.new-publ-link {
  padding: 15px 44px;
}

.new-publ-link-text {
  font-size: 20px;
  width: 72px;
  height: 14px;
}

.images-list-container {
  padding: 0 38px 544px 38px;
}

.image-list-wrapper {
  padding: 28px 18px 0 42px;
}

.publ-image-link {
  margin-bottom: 24px;
  margin-right: 24px;
}

.publication-form-container {
  padding: 0 38px 198px 38px;
}

.publication-form-header {
  height: 89px;
  padding-top: 40px;
  margin-bottom: 32px;
}

.publication-subtitle {
  font-size: 18px;
  line-height: 21px;
}

.subtitle-description {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.publ-form-subtitle {
  width: 660px;
  height: 117px;
  padding: 24px;
  margin-bottom: 24px;
}

.edit-publ-btns {
  flex-direction: row-reverse;
  padding: 32px 0 0 308px;
  margin-top: 32px;
}
}

@media screen and (min-width: 1440px) {

.images-list-header {
  padding: 48px 0;
}

.images-list-container {
  width: 84%;
  padding: 0 70px 444px 71px;
  border-left: 0.5px solid #C4CDD5
}

.image-list-wrapper {
  width: 1185px;
  padding: 28px 30px 0 54px;
}

.publ-form-desktop {
  display: flex;
  justify-content: space-between;
}

.publication-form-container {
  width: 82.23%;
  padding: 0 70px 223px 71px;
}

.publication-form-header {
  height: 100px;
  padding-top: 48px;
  padding-bottom: 30px;
}

.publ-form-subtitle {
  margin-left: 70px;
  margin-bottom: 32px;
}

.publ-field {
  width: 612px;
  height: 40px;
}

.img-form-label {
  margin-right: 70px;
  width: 314px;
}
}