.form-header {
  font-weight: bold;
  color: #434242;
  margin-bottom: 20px;
}

.signup-form {
  margin-bottom: 24px;
}

.your-data {
  font-weight: bold;
  color: #434242;
  line-height: 19px;
  margin-bottom: 16px;
}

@media screen and (min-width: 736px) {
.form-header {
  font-size: 18px;
  line-height: 21px;
  width: 161px;
  height: 17px;
  margin-bottom: 24px;
}

.signup-form {
  width: 660px;
  height: 346px;
  padding: 24px;
  margin-bottom: 40px;
}

.your-data {
  font-size: 18px;
  line-height: 21px;
  height: 17px;
  margin-bottom: 32px;
}
}

@media screen and (min-width: 1440px) {
.signup-form-container {
  display: flex;
  justify-content: center;
}

.form-header {
  font-size: 24px;
  line-height: 28px;
  width: 213px;
  height: 22px;
  margin-bottom: 32px;
}

.signup-form {
  width: 800px;
  height: 418px;
  padding: 32px;
  margin-bottom: 48px;
}

.your-data {
  height: 19px;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 40px;
}
}